*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;  
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

*:focus {
  outline: none;
}

.button {
  border: solid 1px white;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;  
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  display: grid;
  grid-template-rows: 66px min-content auto;
  grid-template-areas: "." "video" "control";
  row-gap: 16px;
}

.result__video-container {
  position: relative;
  grid-area: video;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;  
  object-fit: cover;
}

.search-form {
  display: flex;
  grid-area: control;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  width: fit-content;
  border: none;
  line-height: 1.2em;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.search-form__fieldset-title + .search-form__label {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.search-form__textfield {
  width: 225px;
  min-height: 27px;
  margin: 0;
  border: none;
  padding: 0;
  color: white;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:has(input[type="text"]:active) {
  outline: 1px solid white;
  outline-offset: 0px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 3px 0 2px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: solid 1px white;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;  
}

.search-form__pseudo-checkbox:active {  
  outline: 8px solid white;
  outline-offset: -10px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  flex-grow: 1;
}

.title {
  margin-bottom: 28px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94em;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: white;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;  
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  line-height: 0.9em;
}

.content__video-card-thumbnail {
  align-self: center;
  width: 194px;
  margin: 1px;
  object-fit: cover;
}

.more-button {
  width: 399px;
  height: 34px;
  line-height: 1.2em;
}
